* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/* Navbar */
nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00f2fe;
}

/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

/* Skills */
.skill-box span {
    display: inline-block;
    background: #00f2fe;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

/* Projects */
.card {
    background: #f4f4f4;
    margin: 15px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Resume */
#resume {
    background: #f9f9f9;
}

#resume button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#resume button:hover {
    background: #218838;
}

/* Contact */
#contact p {
    margin: 8px 0;
    font-size: 16px;
}

#contact a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color: #0056b3;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
